{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
    <H1>SMS Channel</H1>
    <h2>AmazonSns</h2>
    <a href="{{ path('app_sms') }}"> Send SMS using NotifierInterface</a>
    <br>
    <br>
    <a href="{{ path('send_app_sms') }}"> Send SMS using TexterInterface</a>
    <hr>
    <hr>
    <hr>

    <H1>Email Channel</H1>
    <h2>AmazonSns</h2>
    <a href="{{ path('app_email') }}"> Send Email using MailerInterface</a>
    <br>
    <br>
    <a href="{{ path('app_send_email') }}"> Send Email using NotifierInterface</a>
    <hr>
    <hr>
    <hr>
{% endblock %}
